<div class="encadre">
<u><p>DERNIERS RÉSULTATS<p></u>

<b><p>{{listeResultat.GPNOM}} du {{formatDate listeResultat.GPDATE 'L'}}</p></b>
<p>Mise à jour le : {{formatDate listeResultat.GPDATEMAJ 'L'}}</p>
<a href="/resultats">Voir les résultats </a>
</div>
