  <div class="contour">

    {{#each listeCircuit}}
    <p><a href="/circuits/{{this.CIRNUM}}"><img class="imageDrapeau" src="/image/pays/{{this.PAYADRDRAP}}"> {{this.CIRNOM}}</a></p>
    {{/each}}
  </div>
