<h1>Ajouter un pilote</h1>
<div class="gauche">
<form id="loginformA" action="FinirAjouterSponsor" method="post">

  <div>
      <label for="login">Nom: </label>
      <input type="text" id="login" name="nom" class="arrondi"></input>
  </div>
  <div>
      <label for="login">Secteur d'activite: </label>
      <input type="text" id="login" name="seactivite" class="arrondi"></input>
  </div>
  <div>
      <label for="login">Ecurie sponsorisee: </label>
      <select id="nationalite-select" name="ecurie">
        <option value=null> Aucune </option>
        {{#each ListerEcurie}}
        <option value="{{this.ecunum}}"> {{this.ecunom}}</option>
        {{/each}}
      </select>
  </div>
<input type="submit" value="AJOUTER" class="Degrade"> </input>
</form>
</div>
