<h1>Ajouter un circuit</h1>

<div class="gauche">
<form id="loginformA" action="ajouterCircuit" method="post" enctype="multipart/form-data">

  <div>
      <label for="login">Nom: </label>
      <input type="text" id="login" name="nom" class="arrondi"></input>
  </div>
  <div>
      <label for="login">Longueur: </label>
      <input type="text" id="login" name="longueur" class="arrondi"></input>
  </div>
  <div>
      <label for="login">Pays: </label>
      <select id="nationalite-select" name="nationalite">
        {{#each listePays}}
        <option value="{{this.PAYNUM}}"> {{this.PAYNOM}}</option>
        {{/each}}
      </select>
  </div>
  <div>
      <label for="login">Image: </label>

     <input required type="file" name="img" /><br>

  </div>
  <div>
      <label for="login">Nombre de spectateur : </label>
      <input type="text" id="login" name="nbspectateur" class="arrondi"></input>
  </div>
  <div>
      <label for="login">Description: </label>
      <input type="text" id="login" name="description" class="arrondi"></input>
  </div>
<input type="submit" value="AJOUTER" class="Degrade"> </input>
</form>
</div>
