<h1>Administration</h1>

<form id="loginformA" action="connexion" method="post">
    <div>
        <label for="login">LOGIN: </label>
        <input type="text" id="login" name="login"></input>
    </div>
    <div>
        <label for="mdp">Mot de passe: </label>
        <input type="password" id="mdp" name="mdp"></input>
    </div>
<input type="button" value="Annuler" onclick="location.href=''"> <input type="submit" value="Connexion"> </input>
</form>
